
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.new-post-header {
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.caption-input {
  margin: 3px 0px;
  border-radius: 5px;
  box-sizing: border-box;
  border-color: #d3d3d3d7;
  height: 60px;
  max-height: 60px;
  max-width: 400px;
  width: 400px;
}

.submit-button {
  background-color: #3897f0;
  color: white;
  width: 100%;
  border-radius: 3px;
  font-size: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.submit-button:hover {
  background-color:  rgb(127, 158, 190);
  cursor: pointer;
}

.can {
  background-color: #e61414;
  margin-bottom: 50px;
}

.can:hover {
  background-color: rgb(194, 138, 138);
  cursor: pointer;
}

.no-file {
  font-size: 20px;
  color: #3897f0;
  font-weight: bold;
}