
.new-post-header {
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.upload-preview {
  margin-bottom: 20px;
  max-height: 500px;
  overflow-y: hidden;
  background-position: center;
  position: relative;
}

.caption-input {
  width: 100%;
  margin: 3px 0px;
  padding: 10px 0px;
  padding-left: 8px;
  border-radius: 3px;
  box-sizing: border-box;
}

.submit-button {
  background-color: #3897f0;
  color: white;
  width: 100%;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}