.logo {
  color: red;
  background-color: green;
}

.login-signup {
  color: purple;
  background-color: royalblue;
}

.session-form-container {
  background-color: yellow;
}

body {
  background-color: whitesmoke;
}

.session-submit {
  color: orange;
  background-color: orchid;
}

.demo-submit {
  color:  teal;
  background-color: yellowgreen;
}

