body {
  background-color: rgb(252, 252, 252);
  margin: 0;
}

.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  color: black;
  background-color: transparent;
  text-align: center;
  font-size: 40px;
  font-family: 'Cookie', cursive;
  margin: 0px;
}

.welcome-message-container {
  color: #999;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.signup-form-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-fields > div {
  padding: 3px;
}

.session-form-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid black;
  padding: 30px;
  border-color: rgb(212, 212, 212);
}

.session-input {
  height: 35px;
  width: 275px;
  font-size: 13px;
  border-radius: 3px;
  border-style: solid;
  background-color: rgb(252, 252, 252);;
  border-color: rgb(212, 212, 212);
  border-width: thin;
}

.submit-button-container {
  display: flex;
  justify-content: center;
}

.session-submit {
  width: 275px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 4px;
  border-style: solid;
  border: none;
}

.button-container {
  padding-top: 10px;
}

.button-container > div {
  padding-bottom: 3px;
}

.demo-submit {
  width: 275px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 4px;
  border-style: solid;
  border: none;
}

.demo-submit-container {
  display: flex;
  justify-content: center;
}

.session-submit {
  color: white;
  background-color: #3897f0;
}

.demo-submit {
  color: white;
  background-color: #3897f0;
}

.TOS-container {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
  color: #999;
}

.footer-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  padding: 20px;
  padding-left: 91px;
  padding-right: 91px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-color: rgb(212, 212, 212);
}

.footer-login-link {
  text-decoration: none;
}