.profile-head {
  min-width: 850px;
  align-items: center;
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
  position: relative;
}

.profile-container {
  justify-content: center;
  margin-top: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 950px;
  background-color: #fafafa;
}

.profile-photo-index-container {
  min-width: 900px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 20px;
}

.profile-head-buttons {
  display: flex;
  justify-content: space-between;
  padding-right: 60px;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-button {
  color: #262626;
  border: 1px solid #dbdbdb;
  font-size: 12px;
  margin-right: 10px;
  font-weight: 600;
  height: 30px;
  width: 80px;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 5px;
  align-content: center;
  outline: none;
}

.profile-button:hover {
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}

.profile-pic {
  border: 1px solid #dbdbdb;
  border-radius: 70px;
  background-color: darkgrey;
  width: 125px;
  height: 125px;
}

.profile-username {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-head-right {
  width: 700px;
}

.cursor:hover {
  cursor: pointer;
}

.profile-left {
  width: 10%;
}

.profile-webpage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
}
///////////////////////////////////////

.user-photos-div {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 100%;
  justify-content: center;
  // margin-left: 250px;
  // margin-right: 200px;
}

.post-image-div {
  margin: 5px;
  max-width: 100%;
}

.post-image {
  object-fit: cover;
}

.user-show-root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-dets {
  display: flex;
  justify-content: space-evenly;
}
